<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.NET.WindowsForms" version="1.7" targetFramework="net4" />
  <package id="gmaps-api-net" version="0.13.4" targetFramework="net4-client" />
  <package id="Newtonsoft.Json" version="4.5.1" targetFramework="net4-client" />
</packages>